# ---- Flutter / Dart ----
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json

# ---- Android ----
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore

# ---- iOS / macOS ----
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Pods/
macos/Flutter/ephemeral/

# ---- IDE / 系统 ----
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db

# 注意：pubspec.lock 是 App 项目，必须提交，**不要**加进来
